@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a asp-page="Upload">Upload new file...</a>

    @foreach (var item in Model.Images)
    {
        <partial name="_Image" model="item" />
    }

</div>
